body {
	margin: 0;
	padding: 0;
}
:root {
	--web-view-ids: Pitch_Product_Page___3;
}
#Pitch_Product_Page___3 * {
	margin: 0;
	padding: 0;
}
#Pitch_Product_Page___3 {
	position: absolute;
	box-sizing: border-box;
	background: #E5E5E5;
	width: 1519px;
	height: 3352px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	margin: 0;
	padding: 0;
	--web-view-name: Pitch Product Page – 3;
	--web-view-id: Pitch_Product_Page___3;
	--web-navigate-on-keypress: true;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
}
#Path_377 {
	fill: rgba(243,243,243,1);
	stroke: rgb(243, 243, 243);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_377 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 2496px;
	left: 797.779px;
	width: 539.935px;
	height: 302.578px;
}
#Path_368 {
	fill: rgba(243,243,243,1);
	stroke: rgb(243, 243, 243);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_368 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 2496px;
	left: 159.779px;
	width: 539.935px;
	height: 302.578px;
}
#Path_374 {
	fill: rgba(255,52,52,1);
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_374 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 346px;
	left: 1109.149px;
	width: 352.135px;
	height: 46px;
}
#Path_2 {
	fill: rgba(0,0,0,1);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_2 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 115px;
	left: 68px;
	width: 596.817px;
	height: 275.704px;
}
#Lance_Software_LanceCorp__Inc {
	position: absolute;
	left: 703px;
	top: 125px;
	overflow: visible;
	width: 258px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 38px;
	color: rgba(8,8,8,1);
}
#Product {
	position: absolute;
	width: 236px;
	height: 20px;
	left: 703px;
	top: 233px;
	overflow: visible;
}
#ID4_1_____500_Reviews {
	opacity: 0.704;
	position: absolute;
	left: 110px;
	top: 0px;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -4.5px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#Group_251 {
	position: absolute;
	width: 96px;
	height: 19px;
	left: 0px;
	top: 1px;
	overflow: visible;
}
#Path_332 {
	fill: rgba(255,0,0,1);
}
.Path_332 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 14.78px;
	height: 19px;
}
#Path_333 {
	fill: rgba(255,0,0,1);
}
.Path_333 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 20.306px;
	width: 14.78px;
	height: 19px;
}
#Path_334 {
	fill: rgba(255,0,0,1);
}
.Path_334 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 40.61px;
	width: 14.78px;
	height: 19px;
}
#Path_335 {
	fill: rgba(255,0,0,1);
}
.Path_335 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 60.915px;
	width: 14.78px;
	height: 19px;
}
#Path_336 {
	fill: rgba(173,173,173,1);
}
.Path_336 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 81.22px;
	width: 14.78px;
	height: 19px;
}
#Path_356 {
	fill: rgba(255,52,52,1);
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_356 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 346px;
	left: 715.149px;
	width: 352.135px;
	height: 46px;
}
#Path_345 {
	fill: rgba(0,0,0,0);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_345 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 426.17px;
	left: 132.529px;
	width: 1252.971px;
	height: 1px;
}
#Demo {
	position: absolute;
	left: 867px;
	top: 357px;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	color: rgba(242,233,233,1);
}
#Intro {
	position: absolute;
	left: 77.5px;
	top: 448.5px;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(0,0,0,1);
}
#This_is_where_the_company_desc {
	position: absolute;
	left: 75px;
	top: 565px;
	overflow: visible;
	width: 615px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#Video_Player {
	position: absolute;
	width: 623.18px;
	height: 405.927px;
	left: 790px;
	top: 448px;
	overflow: visible;
}
#BG {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	fill: rgba(255,255,255,1);
}
.BG {
	position: absolute;
	overflow: visible;
	width: 641.18px;
	height: 423.928px;
	left: 0px;
	top: 0px;
}
#Video {
	position: absolute;
	width: 585.18px;
	height: 345.927px;
	left: 19px;
	top: 30px;
	overflow: visible;
}
#Rectangle_744 {
	fill: rgba(67,66,93,1);
}
.Rectangle_744 {
	position: absolute;
	overflow: visible;
	width: 585.18px;
	height: 345.928px;
	left: 0px;
	top: 0px;
}
#player_tab {
	position: absolute;
	width: 585.18px;
	height: 60px;
	left: 0px;
	top: 285.928px;
	overflow: visible;
}
#Rectangle_745 {
	opacity: 0.2;
	fill: rgba(67,66,93,1);
}
.Rectangle_745 {
	position: absolute;
	overflow: visible;
	width: 585.18px;
	height: 60px;
	left: 0px;
	top: 0px;
}
#play {
	fill: rgba(255,255,255,1);
}
.play {
	transform: rotate(45deg);
	overflow: visible;
	position: absolute;
	top: 14px;
	left: 15.646px;
	width: 32.394px;
	height: 32.394px;
}
#timer {
	position: absolute;
	width: 585.15px;
	height: 0px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_342 {
	opacity: 0.2;
	fill: transparent;
	stroke: rgb(255, 255, 255);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_342 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 585.15px;
	height: 5px;
}
#Path_343 {
	fill: transparent;
	stroke: rgb(59, 134, 255);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_343 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 168.934px;
	height: 5px;
}
#ID0_00___3_45 {
	position: absolute;
	left: 112.779px;
	top: 18px;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#sound {
	fill: rgba(255,255,255,1);
}
.sound {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 19px;
	left: 458.444px;
	width: 24px;
	height: 22.2px;
}
#fullscreen {
	position: absolute;
	width: 19.989px;
	height: 21.846px;
	left: 529.036px;
	top: 19px;
	overflow: visible;
}
#Path_338 {
	fill: transparent;
	stroke: rgb(255, 255, 255);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_338 {
	transform: rotate(-90deg);
	overflow: visible;
	position: absolute;
	top: 15.144px;
	left: 0px;
	width: 7.989px;
	height: 7.702px;
}
#Path_341 {
	fill: transparent;
	stroke: rgb(255, 255, 255);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_341 {
	transform: rotate(90deg);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 13px;
	width: 7.989px;
	height: 7.702px;
}
#Path_339 {
	fill: transparent;
	stroke: rgb(255, 255, 255);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_339 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0.144px;
	width: 7.702px;
	height: 7.989px;
}
#Path_340 {
	fill: transparent;
	stroke: rgb(255, 255, 255);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_340 {
	transform: rotate(180deg);
	overflow: visible;
	position: absolute;
	top: 14.856px;
	left: 13.144px;
	width: 7.702px;
	height: 7.989px;
}
#btn_play {
	position: absolute;
	width: 117px;
	height: 117px;
	left: 234.654px;
	top: 104.058px;
	overflow: visible;
}
#Ellipse_39 {
	opacity: 0.209;
	fill: rgba(255,255,255,1);
}
.Ellipse_39 {
	position: absolute;
	overflow: visible;
	width: 117px;
	height: 117px;
	left: 0px;
	top: 0px;
}
#Path_337 {
	fill: rgba(255,255,255,1);
}
.Path_337 {
	transform: rotate(45deg);
	overflow: visible;
	position: absolute;
	top: 24.266px;
	left: 18.053px;
	width: 67.533px;
	height: 67.533px;
}
#Demo_A20_Text_7 {
	position: absolute;
	left: 77.5px;
	top: 914.5px;
	overflow: visible;
	width: 129px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(0,0,0,1);
}
#Path_354 {
	fill: rgba(0,0,0,1);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_354 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 1011px;
	left: 0px;
	width: 1519px;
	height: 613.714px;
}
#Test_Software_goes_here {
	position: absolute;
	left: 239px;
	top: 1255px;
	overflow: visible;
	width: 1043px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 100px;
	color: rgba(255,255,255,1);
}
#Prices {
	position: absolute;
	left: 77.5px;
	top: 1674.5px;
	overflow: visible;
	width: 135px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(0,0,0,1);
}
#Pricing {
	position: absolute;
	width: 282.772px;
	height: 474.097px;
	left: 212px;
	top: 1767px;
	overflow: visible;
}
#BG_A20_Rectangle_4 {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	fill: rgba(255,255,255,1);
	stroke: rgb(0, 0, 0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BG_A20_Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 300.043px;
	height: 492.097px;
	left: 0px;
	top: 0px;
}
#btn_tryit {
	position: absolute;
	width: 282.042px;
	height: 50.166px;
	left: 0px;
	top: 423.931px;
	overflow: visible;
}
#Rectangle_737 {
	fill: rgba(255,101,101,1);
}
.Rectangle_737 {
	position: absolute;
	overflow: visible;
	width: 282.043px;
	height: 50.166px;
	left: 0px;
	top: 0px;
}
#Try_it_now {
	position: absolute;
	left: 110.53px;
	top: 16.483px;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#list {
	position: absolute;
	width: 282.772px;
	height: 198.142px;
	left: 0px;
	top: 226.134px;
	overflow: visible;
}
#Path_351 {
	fill: rgba(245,246,250,1);
	stroke: rgb(0, 0, 0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_351 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 282.043px;
	height: 197.798px;
}
#Path_324 {
	fill: transparent;
	stroke: rgb(246, 246, 246);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_324 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 33.311px;
	left: 0px;
	width: 282.772px;
	height: 1px;
}
#Path_326 {
	fill: transparent;
	stroke: rgb(246, 246, 246);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_326 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 66.275px;
	left: 0px;
	width: 282.772px;
	height: 1px;
}
#Path_327 {
	fill: transparent;
	stroke: rgb(246, 246, 246);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_327 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 99.242px;
	left: 0px;
	width: 282.772px;
	height: 1px;
}
#Path_328 {
	fill: transparent;
	stroke: rgb(246, 246, 246);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_328 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 132.209px;
	left: 0px;
	width: 282.772px;
	height: 1px;
}
#Path_329 {
	fill: transparent;
	stroke: rgb(246, 246, 246);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_329 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 165.175px;
	left: 0px;
	width: 282.772px;
	height: 1px;
}
#Path_330 {
	fill: transparent;
	stroke: rgb(246, 246, 246);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_330 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 198.142px;
	left: 0px;
	width: 282.772px;
	height: 1px;
}
#Path_325 {
	fill: transparent;
	stroke: rgb(246, 246, 246);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_325 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0.344px;
	left: 0px;
	width: 282.772px;
	height: 1px;
}
#ID1_user_24hr_support__3_proje {
	position: absolute;
	left: 67.843px;
	top: 11.467px;
	overflow: hidden;
	width: 153.455px;
	height: 174.148px;
	line-height: 45px;
	margin-top: -15px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(67,66,93,1);
}
#details {
	position: absolute;
	width: 187.52px;
	height: 153.031px;
	left: 50.311px;
	top: 35.116px;
	overflow: visible;
}
#FREE {
	position: absolute;
	left: 77.752px;
	top: 0px;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 9px;
	color: rgba(255,101,101,1);
}
#per__month {
	position: absolute;
	left: 111.292px;
	top: 84.565px;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	line-height: 13px;
	margin-top: -2px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 9px;
	color: rgba(255,101,101,1);
}
#Free_forever_ {
	position: absolute;
	left: 54.884px;
	top: 139.031px;
	overflow: visible;
	width: 59px;
	white-space: nowrap;
	line-height: 15px;
	margin-top: -2px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(255,101,101,1);
}
#_0 {
	position: absolute;
	left: 41.163px;
	top: 61.633px;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: right;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 56px;
	color: rgba(255,101,101,1);
}
#See_for_yourself_how_it_works_ {
	position: absolute;
	left: 0px;
	top: 30.816px;
	overflow: hidden;
	width: 188.52px;
	height: 35.833px;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Pricing_A20_Group_12 {
	position: absolute;
	width: 288.169px;
	height: 474.097px;
	left: 615.291px;
	top: 1767px;
	overflow: visible;
}
#BG_A20_Rectangle_6 {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	fill: rgba(255,255,255,1);
	stroke: rgb(0, 0, 0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BG_A20_Rectangle_6 {
	position: absolute;
	overflow: visible;
	width: 305.425px;
	height: 492.097px;
	left: 0px;
	top: 0px;
}
#btn_tryit_A20_Group_13 {
	position: absolute;
	width: 287.425px;
	height: 50.166px;
	left: 0px;
	top: 423.931px;
	overflow: visible;
}
#Rectangle_737_A20_Rectangle_7 {
	fill: rgba(255,101,101,1);
}
.Rectangle_737_A20_Rectangle_7 {
	position: absolute;
	overflow: visible;
	width: 287.425px;
	height: 50.166px;
	left: 0px;
	top: 0px;
}
#Try_it_now_A20_Text_17 {
	position: absolute;
	left: 112.64px;
	top: 16.483px;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#list_A20_Group_14 {
	position: absolute;
	width: 288.169px;
	height: 198.142px;
	left: 0px;
	top: 226.134px;
	overflow: visible;
}
#Path_351_A20_Path_30 {
	fill: rgba(245,246,250,1);
	stroke: rgb(0, 0, 0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_351_A20_Path_30 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 287.425px;
	height: 197.798px;
}
#Path_324_A20_Path_31 {
	fill: transparent;
	stroke: rgb(246, 246, 246);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_324_A20_Path_31 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 33.311px;
	left: 0px;
	width: 288.169px;
	height: 1px;
}
#Path_326_A20_Path_32 {
	fill: transparent;
	stroke: rgb(246, 246, 246);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_326_A20_Path_32 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 66.276px;
	left: 0px;
	width: 288.169px;
	height: 1px;
}
#Path_327_A20_Path_33 {
	fill: transparent;
	stroke: rgb(246, 246, 246);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_327_A20_Path_33 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 99.242px;
	left: 0px;
	width: 288.169px;
	height: 1px;
}
#Path_328_A20_Path_34 {
	fill: transparent;
	stroke: rgb(246, 246, 246);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_328_A20_Path_34 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 132.209px;
	left: 0px;
	width: 288.169px;
	height: 1px;
}
#Path_329_A20_Path_35 {
	fill: transparent;
	stroke: rgb(246, 246, 246);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_329_A20_Path_35 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 165.175px;
	left: 0px;
	width: 288.169px;
	height: 1px;
}
#Path_330_A20_Path_36 {
	fill: transparent;
	stroke: rgb(246, 246, 246);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_330_A20_Path_36 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 198.142px;
	left: 0px;
	width: 288.169px;
	height: 1px;
}
#Path_325_A20_Path_37 {
	fill: transparent;
	stroke: rgb(246, 246, 246);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_325_A20_Path_37 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0.344px;
	left: 0px;
	width: 288.169px;
	height: 1px;
}
#Up_to_10_user_24hr_support_20_ {
	position: absolute;
	left: 69.138px;
	top: 11.467px;
	overflow: hidden;
	width: 156.365px;
	height: 174.148px;
	line-height: 45px;
	margin-top: -15px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(67,66,93,1);
}
#details_A20_Group_15 {
	position: absolute;
	width: 191.099px;
	height: 170.031px;
	left: 51.271px;
	top: 35.116px;
	overflow: visible;
}
#FREE_A20_Text_19 {
	position: absolute;
	left: 79.236px;
	top: 0px;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(255,101,101,1);
}
#per__month_A20_Text_20 {
	position: absolute;
	left: 113.416px;
	top: 84.565px;
	overflow: visible;
	width: 30px;
	white-space: nowrap;
	line-height: 13px;
	margin-top: -1.5px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(255,101,101,1);
}
#End_your_subscription__wheneve {
	position: absolute;
	left: 27.188px;
	top: 139.031px;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	line-height: 16px;
	margin-top: -2px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,101,101,1);
}
#_20 {
	position: absolute;
	left: 11.652px;
	top: 61.633px;
	overflow: visible;
	width: 86px;
	white-space: nowrap;
	text-align: right;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 57px;
	color: rgba(255,101,101,1);
}
#Perfect_for_small_teams_workin {
	position: absolute;
	left: 0px;
	top: 30.816px;
	overflow: hidden;
	width: 192.099px;
	height: 35.833px;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Pricing_A20_Group_16 {
	position: absolute;
	width: 269.932px;
	height: 471.48px;
	left: 1023.582px;
	top: 1766.842px;
	overflow: visible;
}
#BG_A20_Rectangle_8 {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	fill: rgba(255,255,255,1);
	stroke: rgb(0, 0, 0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BG_A20_Rectangle_8 {
	position: absolute;
	overflow: visible;
	width: 287.234px;
	height: 489.48px;
	left: 0px;
	top: 0px;
}
#btn_tryit_A20_Group_17 {
	position: absolute;
	width: 269.235px;
	height: 49.889px;
	left: 0px;
	top: 421.591px;
	overflow: visible;
}
#Rectangle_737_A20_Rectangle_9 {
	fill: rgba(255,101,101,1);
}
.Rectangle_737_A20_Rectangle_9 {
	position: absolute;
	overflow: visible;
	width: 269.234px;
	height: 49.889px;
	left: 0px;
	top: 0px;
}
#Try_it_now_A20_Text_24 {
	position: absolute;
	left: 105.511px;
	top: 16.393px;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#list_A20_Group_18 {
	position: absolute;
	width: 269.932px;
	height: 207.889px;
	left: 0px;
	top: 213.702px;
	overflow: visible;
}
#Path_351_A20_Path_38 {
	fill: rgba(245,246,250,1);
	stroke: rgb(0, 0, 0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_351_A20_Path_38 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 269.234px;
	height: 207.529px;
}
#Path_324_A20_Path_39 {
	fill: transparent;
	stroke: rgb(246, 246, 246);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_324_A20_Path_39 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 34.949px;
	left: 0px;
	width: 269.932px;
	height: 1px;
}
#Path_326_A20_Path_40 {
	fill: transparent;
	stroke: rgb(246, 246, 246);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_326_A20_Path_40 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 69.537px;
	left: 0px;
	width: 269.932px;
	height: 1px;
}
#Path_327_A20_Path_41 {
	fill: transparent;
	stroke: rgb(246, 246, 246);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_327_A20_Path_41 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 104.126px;
	left: 0px;
	width: 269.932px;
	height: 1px;
}
#Path_328_A20_Path_42 {
	fill: transparent;
	stroke: rgb(246, 246, 246);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_328_A20_Path_42 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 138.714px;
	left: 0px;
	width: 269.932px;
	height: 1px;
}
#Path_329_A20_Path_43 {
	fill: transparent;
	stroke: rgb(246, 246, 246);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_329_A20_Path_43 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 173.302px;
	left: 0px;
	width: 269.932px;
	height: 1px;
}
#Path_330_A20_Path_44 {
	fill: transparent;
	stroke: rgb(246, 246, 246);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_330_A20_Path_44 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 207.889px;
	left: 0px;
	width: 269.932px;
	height: 1px;
}
#Path_325_A20_Path_45 {
	fill: transparent;
	stroke: rgb(246, 246, 246);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_325_A20_Path_45 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0.361px;
	left: 0px;
	width: 269.932px;
	height: 1px;
}
#Up_to_50_users_24hr_support_Un {
	position: absolute;
	left: 64.762px;
	top: 12.03px;
	overflow: hidden;
	width: 146.532px;
	height: 182.716px;
	line-height: 45px;
	margin-top: -15px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(67,66,93,1);
}
#details_A20_Group_19 {
	position: absolute;
	width: 179.005px;
	height: 165.264px;
	left: 48.025px;
	top: 34.923px;
	overflow: visible;
}
#FREE_A20_Text_26 {
	position: absolute;
	left: 74.222px;
	top: 0px;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 9px;
	color: rgba(255,101,101,1);
}
#per__month_A20_Text_27 {
	position: absolute;
	left: 106.238px;
	top: 84.099px;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	line-height: 12px;
	margin-top: -1.5px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 9px;
	color: rgba(255,101,101,1);
}
#Custom_plan_and_pricing__for_l {
	position: absolute;
	left: 18.919px;
	top: 138.264px;
	overflow: visible;
	width: 105px;
	white-space: nowrap;
	line-height: 14px;
	margin-top: -2px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,101,101,1);
}
#_90 {
	position: absolute;
	left: 10.915px;
	top: 61.292px;
	overflow: visible;
	width: 80px;
	white-space: nowrap;
	text-align: right;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 53px;
	color: rgba(255,101,101,1);
}
#Great_for_teams_and_growing_bu {
	position: absolute;
	left: 0px;
	top: 30.646px;
	overflow: hidden;
	width: 180.005px;
	height: 35.635px;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Reviews {
	position: absolute;
	left: 68.5px;
	top: 2383.5px;
	overflow: visible;
	width: 183px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(0,0,0,1);
}
#_My_experience_with_this_softw {
	position: absolute;
	left: 196px;
	top: 2692px;
	overflow: visible;
	width: 481px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
#Pros__________________________ {
	position: absolute;
	left: 222px;
	top: 2609px;
	overflow: visible;
	width: 263px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(0,0,0,1);
	text-decoration: true;
}
#Cons________________________Ex {
	position: absolute;
	left: 484px;
	top: 2609px;
	overflow: visible;
	width: 189px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,0,0,1);
	text-decoration: true;
}
#Group_253 {
	position: absolute;
	width: 96px;
	height: 19px;
	left: 305px;
	top: 2557px;
	overflow: visible;
}
#Path_332_A20_Path_46 {
	fill: rgba(255,0,0,1);
}
.Path_332_A20_Path_46 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 14.78px;
	height: 19px;
}
#Path_333_A20_Path_47 {
	fill: rgba(255,0,0,1);
}
.Path_333_A20_Path_47 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 20.306px;
	width: 14.78px;
	height: 19px;
}
#Path_334_A20_Path_48 {
	fill: rgba(255,0,0,1);
}
.Path_334_A20_Path_48 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 40.61px;
	width: 14.78px;
	height: 19px;
}
#Path_335_A20_Path_49 {
	fill: rgba(255,0,0,1);
}
.Path_335_A20_Path_49 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 60.915px;
	width: 14.78px;
	height: 19px;
}
#Path_336_A20_Path_50 {
	fill: rgba(173,173,173,1);
}
.Path_336_A20_Path_50 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 81.22px;
	width: 14.78px;
	height: 19px;
}
#By__Mark_Johnson__CEO_of_Lance {
	position: absolute;
	left: 416px;
	top: 2561px;
	overflow: visible;
	width: 191px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
#More_by_Company__Inc {
	position: absolute;
	left: 91.5px;
	top: 2909.5px;
	overflow: visible;
	width: 243px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Line_5 {
	fill: transparent;
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_5 {
	overflow: visible;
	position: absolute;
	top: 2909.5px;
	left: 759.5px;
	width: 1px;
	height: 304px;
}
#See_More {
	position: absolute;
	left: 630px;
	top: 2916px;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,0,0,1);
	text-decoration: true;
}
#You_May_Also_Like {
	position: absolute;
	left: 797.5px;
	top: 2909.5px;
	overflow: visible;
	width: 193px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#_6__Overall___ {
	position: absolute;
	left: 1340px;
	top: 213px;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(27,16,16,1);
}
#_1__Communication__ {
	position: absolute;
	left: 1302px;
	top: 125px;
	overflow: visible;
	width: 147px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(27,16,16,1);
}
#Contact {
	position: absolute;
	left: 1266px;
	top: 357px;
	overflow: visible;
	width: 66px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	color: rgba(242,233,233,1);
}
#Path_344 {
	fill: rgba(255,52,52,1);
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_344 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1519px;
	height: 83.801px;
}
#Pitch_ {
	position: absolute;
	left: 67.5px;
	top: 18.5px;
	overflow: visible;
	width: 96px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 37px;
	color: rgba(255,255,255,1);
}
#Shop_____Search_____Notificati {
	position: absolute;
	left: 473px;
	top: 26px;
	overflow: visible;
	width: 575px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Logout {
	position: absolute;
	left: 1331px;
	top: 26px;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Ellipse_46 {
	fill: rgba(255,52,52,1);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_46 {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 1441px;
	top: 512px;
}
#Path_375 {
	fill: rgba(0,0,0,0);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_375 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 892.17px;
	left: 132.529px;
	width: 1252.971px;
	height: 1px;
}
#Ellipse_47 {
	fill: rgba(255,255,255,1);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_47 {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 1441px;
	top: 581px;
}
#Ellipse_48 {
	fill: rgba(255,255,255,1);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_48 {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 1441px;
	top: 650px;
}
#Ellipse_49 {
	fill: rgba(255,255,255,1);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_49 {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 1441px;
	top: 719px;
}
#Path_376 {
	fill: rgba(0,0,0,0);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_376 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 2334.17px;
	left: 132.529px;
	width: 1252.971px;
	height: 1px;
}
#Amazing_Application__ {
	position: absolute;
	left: 305px;
	top: 2523px;
	overflow: visible;
	width: 263px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(0,0,0,1);
}
#Ellipse_43 {
	fill: url(#Ellipse_43_A20_Ellipse_7_pattern);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_43 {
	position: absolute;
	overflow: visible;
	width: 91px;
	height: 86px;
	left: 195px;
	top: 2523px;
}
#See_More_A20_Text_46 {
	position: absolute;
	left: 1317px;
	top: 2416px;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
	text-decoration: true;
}
#Path_378 {
	fill: rgba(0,0,0,0);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_378 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 2860.17px;
	left: 132.529px;
	width: 1252.971px;
	height: 1px;
}
#See_More_A20_Text_47 {
	position: absolute;
	left: 1356px;
	top: 2916px;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,0,0,1);
	text-decoration: true;
}
#Product_A20_SymbolInstance_2 {
	position: absolute;
	width: 232.834px;
	height: 223.259px;
	left: 160px;
	top: 2974.741px;
	overflow: visible;
}
#BG_A20_Rectangle_10 {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	fill: rgba(255,255,255,1);
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BG_A20_Rectangle_10 {
	position: absolute;
	overflow: visible;
	width: 228.834px;
	height: 223.259px;
	left: 9px;
	top: 7px;
}
#product_detail {
	position: absolute;
	width: 179.929px;
	height: 30.713px;
	left: 23.904px;
	top: 161.259px;
	overflow: visible;
}
#Product_name {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#btn_buy {
	position: absolute;
	width: 66.712px;
	height: 25.863px;
	left: 113.217px;
	top: 3.713px;
	overflow: visible;
}
#Rectangle_166 {
	fill: rgba(255,52,52,1);
}
.Rectangle_166 {
	position: absolute;
	overflow: visible;
	width: 66.713px;
	height: 25.863px;
	left: 0px;
	top: 0px;
}
#View {
	position: absolute;
	left: 24.604px;
	top: 7.5px;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.02px;
}
#Product_type {
	position: absolute;
	left: 3.096px;
	top: 19.713px;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.02px;
}
#Heart {
	fill: rgba(255,255,255,1);
}
.Heart {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 27px;
	left: 179.834px;
	width: 24px;
	height: 20px;
}
#Line_10 {
	fill: transparent;
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_10 {
	overflow: visible;
	position: absolute;
	top: 147.759px;
	left: 9.5px;
	width: 210px;
	height: 1px;
}
#Product_A20_SymbolInstance_3 {
	position: absolute;
	width: 232.834px;
	height: 223.259px;
	left: 416px;
	top: 2974.741px;
	overflow: visible;
}
#BG_A20_Rectangle_12 {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	fill: rgba(255,255,255,1);
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BG_A20_Rectangle_12 {
	position: absolute;
	overflow: visible;
	width: 228.834px;
	height: 223.259px;
	left: 9px;
	top: 7px;
}
#product_detail_A20_Group_23 {
	position: absolute;
	width: 179.929px;
	height: 30.713px;
	left: 23.904px;
	top: 161.259px;
	overflow: visible;
}
#Product_name_A20_Text_51 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#btn_buy_A20_Group_24 {
	position: absolute;
	width: 66.712px;
	height: 25.863px;
	left: 113.217px;
	top: 3.713px;
	overflow: visible;
}
#Rectangle_166_A20_Rectangle_13 {
	fill: rgba(255,52,52,1);
}
.Rectangle_166_A20_Rectangle_13 {
	position: absolute;
	overflow: visible;
	width: 66.713px;
	height: 25.863px;
	left: 0px;
	top: 0px;
}
#View_A20_Text_52 {
	position: absolute;
	left: 24.604px;
	top: 7.5px;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.02px;
}
#Product_type_A20_Text_53 {
	position: absolute;
	left: 3.096px;
	top: 19.713px;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.02px;
}
#Heart_A20_Path_56 {
	fill: rgba(255,255,255,1);
}
.Heart_A20_Path_56 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 27px;
	left: 179.834px;
	width: 24px;
	height: 20px;
}
#Line_10_A20_Line_3 {
	fill: transparent;
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_10_A20_Line_3 {
	overflow: visible;
	position: absolute;
	top: 147.759px;
	left: 9.5px;
	width: 210px;
	height: 1px;
}
#Product_A20_SymbolInstance_4 {
	position: absolute;
	width: 232.834px;
	height: 223.259px;
	left: 870px;
	top: 2974.741px;
	overflow: visible;
}
#BG_A20_Rectangle_14 {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	fill: rgba(255,255,255,1);
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BG_A20_Rectangle_14 {
	position: absolute;
	overflow: visible;
	width: 228.834px;
	height: 223.259px;
	left: 9px;
	top: 7px;
}
#product_detail_A20_Group_25 {
	position: absolute;
	width: 179.929px;
	height: 30.713px;
	left: 23.904px;
	top: 161.259px;
	overflow: visible;
}
#Product_name_A20_Text_54 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#btn_buy_A20_Group_26 {
	position: absolute;
	width: 66.712px;
	height: 25.863px;
	left: 113.217px;
	top: 3.713px;
	overflow: visible;
}
#Rectangle_166_A20_Rectangle_15 {
	fill: rgba(255,52,52,1);
}
.Rectangle_166_A20_Rectangle_15 {
	position: absolute;
	overflow: visible;
	width: 66.713px;
	height: 25.863px;
	left: 0px;
	top: 0px;
}
#View_A20_Text_55 {
	position: absolute;
	left: 24.604px;
	top: 7.5px;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.02px;
}
#Product_type_A20_Text_56 {
	position: absolute;
	left: 3.096px;
	top: 19.713px;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.02px;
}
#Heart_A20_Path_57 {
	fill: rgba(255,255,255,1);
}
.Heart_A20_Path_57 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 27px;
	left: 179.834px;
	width: 24px;
	height: 20px;
}
#Line_10_A20_Line_4 {
	fill: transparent;
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_10_A20_Line_4 {
	overflow: visible;
	position: absolute;
	top: 147.759px;
	left: 9.5px;
	width: 210px;
	height: 1px;
}
#Product_A20_SymbolInstance_5 {
	position: absolute;
	width: 232.834px;
	height: 223.259px;
	left: 1126px;
	top: 2974.741px;
	overflow: visible;
}
#BG_A20_Rectangle_16 {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	fill: rgba(255,255,255,1);
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BG_A20_Rectangle_16 {
	position: absolute;
	overflow: visible;
	width: 228.834px;
	height: 223.259px;
	left: 9px;
	top: 7px;
}
#product_detail_A20_Group_27 {
	position: absolute;
	width: 179.929px;
	height: 30.713px;
	left: 23.904px;
	top: 161.259px;
	overflow: visible;
}
#Product_name_A20_Text_57 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#btn_buy_A20_Group_28 {
	position: absolute;
	width: 66.712px;
	height: 25.863px;
	left: 113.217px;
	top: 3.713px;
	overflow: visible;
}
#Rectangle_166_A20_Rectangle_17 {
	fill: rgba(255,52,52,1);
}
.Rectangle_166_A20_Rectangle_17 {
	position: absolute;
	overflow: visible;
	width: 66.713px;
	height: 25.863px;
	left: 0px;
	top: 0px;
}
#View_A20_Text_58 {
	position: absolute;
	left: 24.604px;
	top: 7.5px;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.02px;
}
#Product_type_A20_Text_59 {
	position: absolute;
	left: 3.096px;
	top: 19.713px;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.02px;
}
#Heart_A20_Path_58 {
	fill: rgba(255,255,255,1);
}
.Heart_A20_Path_58 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 27px;
	left: 179.834px;
	width: 24px;
	height: 20px;
}
#Line_10_A20_Line_5 {
	fill: transparent;
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_10_A20_Line_5 {
	overflow: visible;
	position: absolute;
	top: 147.759px;
	left: 9.5px;
	width: 210px;
	height: 1px;
}
#Rectangle_749 {
	fill: rgba(255,52,52,1);
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_749 {
	position: absolute;
	overflow: visible;
	width: 1519px;
	height: 101px;
	left: 0px;
	top: 3250.912px;
}
#Terms_of_Service_____Privacy_P {
	position: absolute;
	left: 44px;
	top: 3279px;
	overflow: visible;
	width: 415px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	color: rgba(255,255,255,1);
}