body {
	margin: 0;
	padding: 0;
}
:root {
	--web-view-ids: All_Products_Page;
}
#All_Products_Page * {
	margin: 0;
	padding: 0;
}
#All_Products_Page {
	position: absolute;
	box-sizing: border-box;
	background: #E5E5E5;
	width: 1519px;
	height: 1292px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	margin: 0;
	padding: 0;
	--web-view-name: All Products Page;
	--web-view-id: All_Products_Page;
	--web-navigate-on-keypress: true;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
}
#Path_344 {
	fill: rgba(255,52,52,1);
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_344 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1519px;
	height: 83.801px;
}
#All_Products {
	position: absolute;
	left: 81px;
	top: 119px;
	overflow: visible;
	width: 399px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 75px;
	color: rgba(0,0,0,1);
}
#Pitch_ {
	position: absolute;
	left: 67.5px;
	top: 18.5px;
	overflow: visible;
	width: 96px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 37px;
	color: rgba(255,255,255,1);
}
#Sort_By {
	position: absolute;
	left: 1072.5px;
	top: 345.5px;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Rectangle_752 {
	fill: rgba(255,255,255,1);
	stroke: rgb(0, 0, 0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_752 {
	position: absolute;
	overflow: visible;
	width: 124px;
	height: 41px;
	left: 1148px;
	top: 338px;
}
#Rectangle_749 {
	fill: rgba(255,52,52,1);
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_749 {
	position: absolute;
	overflow: visible;
	width: 1519px;
	height: 101px;
	left: 0px;
	top: 1192.912px;
}
#Terms_of_Service_____Privacy_P {
	position: absolute;
	left: 37px;
	top: 1221px;
	overflow: visible;
	width: 415px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	color: rgba(255,255,255,1);
}
#Product {
	position: absolute;
	width: 232.834px;
	height: 223.259px;
	left: 218px;
	top: 418.741px;
	overflow: visible;
}
#BG {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	fill: rgba(255,255,255,1);
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BG {
	position: absolute;
	overflow: visible;
	width: 228.834px;
	height: 223.259px;
	left: 9px;
	top: 7px;
}
#product_detail {
	position: absolute;
	width: 179.929px;
	height: 30.713px;
	left: 23.905px;
	top: 161.259px;
	overflow: visible;
}
#Service_name {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#btn_buy {
	position: absolute;
	width: 66.712px;
	height: 25.863px;
	left: 113.217px;
	top: 3.713px;
	overflow: visible;
}
#Rectangle_166 {
	fill: rgba(255,52,52,1);
}
.Rectangle_166 {
	position: absolute;
	overflow: visible;
	width: 66.712px;
	height: 25.863px;
	left: 0px;
	top: 0px;
}
#View {
	position: absolute;
	left: 24.604px;
	top: 7.5px;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.02px;
}
#Service_type {
	position: absolute;
	left: 4.095px;
	top: 19.713px;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.02px;
}
#Heart {
	fill: rgba(255,255,255,1);
}
.Heart {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 27px;
	left: 179.834px;
	width: 24px;
	height: 20px;
}
#Line_10 {
	fill: transparent;
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_10 {
	overflow: visible;
	position: absolute;
	top: 147.759px;
	left: 9.5px;
	width: 210px;
	height: 1px;
}
#Product_A19_SymbolInstance_2 {
	position: absolute;
	width: 232.834px;
	height: 223.259px;
	left: 484px;
	top: 418.741px;
	overflow: visible;
}
#BG_A19_Rectangle_5 {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	fill: rgba(255,255,255,1);
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BG_A19_Rectangle_5 {
	position: absolute;
	overflow: visible;
	width: 228.834px;
	height: 223.259px;
	left: 9px;
	top: 7px;
}
#product_detail_A19_Group_3 {
	position: absolute;
	width: 179.929px;
	height: 30.713px;
	left: 23.905px;
	top: 161.259px;
	overflow: visible;
}
#Service_name_A19_Text_8 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#btn_buy_A19_Group_4 {
	position: absolute;
	width: 66.712px;
	height: 25.863px;
	left: 113.217px;
	top: 3.713px;
	overflow: visible;
}
#Rectangle_166_A19_Rectangle_6 {
	fill: rgba(255,52,52,1);
}
.Rectangle_166_A19_Rectangle_6 {
	position: absolute;
	overflow: visible;
	width: 66.712px;
	height: 25.863px;
	left: 0px;
	top: 0px;
}
#View_A19_Text_9 {
	position: absolute;
	left: 24.604px;
	top: 7.5px;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.02px;
}
#Service_type_A19_Text_10 {
	position: absolute;
	left: 4.095px;
	top: 19.713px;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.02px;
}
#Heart_A19_Path_3 {
	fill: rgba(255,255,255,1);
}
.Heart_A19_Path_3 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 27px;
	left: 179.834px;
	width: 24px;
	height: 20px;
}
#Line_10_A19_Line_2 {
	fill: transparent;
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_10_A19_Line_2 {
	overflow: visible;
	position: absolute;
	top: 147.759px;
	left: 9.5px;
	width: 210px;
	height: 1px;
}
#Product_A19_SymbolInstance_3 {
	position: absolute;
	width: 232.834px;
	height: 223.259px;
	left: 750px;
	top: 418.741px;
	overflow: visible;
}
#BG_A19_Rectangle_7 {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	fill: rgba(255,255,255,1);
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BG_A19_Rectangle_7 {
	position: absolute;
	overflow: visible;
	width: 228.834px;
	height: 223.259px;
	left: 9px;
	top: 7px;
}
#product_detail_A19_Group_5 {
	position: absolute;
	width: 179.929px;
	height: 30.713px;
	left: 23.905px;
	top: 161.259px;
	overflow: visible;
}
#Service_name_A19_Text_11 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#btn_buy_A19_Group_6 {
	position: absolute;
	width: 66.712px;
	height: 25.863px;
	left: 113.217px;
	top: 3.713px;
	overflow: visible;
}
#Rectangle_166_A19_Rectangle_8 {
	fill: rgba(255,52,52,1);
}
.Rectangle_166_A19_Rectangle_8 {
	position: absolute;
	overflow: visible;
	width: 66.712px;
	height: 25.863px;
	left: 0px;
	top: 0px;
}
#View_A19_Text_12 {
	position: absolute;
	left: 24.604px;
	top: 7.5px;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.02px;
}
#Service_type_A19_Text_13 {
	position: absolute;
	left: 4.095px;
	top: 19.713px;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.02px;
}
#Heart_A19_Path_4 {
	fill: rgba(255,255,255,1);
}
.Heart_A19_Path_4 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 27px;
	left: 179.834px;
	width: 24px;
	height: 20px;
}
#Line_10_A19_Line_3 {
	fill: transparent;
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_10_A19_Line_3 {
	overflow: visible;
	position: absolute;
	top: 147.759px;
	left: 9.5px;
	width: 210px;
	height: 1px;
}
#Product_A19_SymbolInstance_4 {
	position: absolute;
	width: 232.834px;
	height: 223.259px;
	left: 1016px;
	top: 418.741px;
	overflow: visible;
}
#BG_A19_Rectangle_9 {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	fill: rgba(255,255,255,1);
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BG_A19_Rectangle_9 {
	position: absolute;
	overflow: visible;
	width: 228.834px;
	height: 223.259px;
	left: 9px;
	top: 7px;
}
#product_detail_A19_Group_7 {
	position: absolute;
	width: 179.929px;
	height: 30.713px;
	left: 23.905px;
	top: 161.259px;
	overflow: visible;
}
#Service_name_A19_Text_14 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#btn_buy_A19_Group_8 {
	position: absolute;
	width: 66.712px;
	height: 25.863px;
	left: 113.217px;
	top: 3.713px;
	overflow: visible;
}
#Rectangle_166_A19_Rectangle_10 {
	fill: rgba(255,52,52,1);
}
.Rectangle_166_A19_Rectangle_10 {
	position: absolute;
	overflow: visible;
	width: 66.712px;
	height: 25.863px;
	left: 0px;
	top: 0px;
}
#View_A19_Text_15 {
	position: absolute;
	left: 24.604px;
	top: 7.5px;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.02px;
}
#Service_type_A19_Text_16 {
	position: absolute;
	left: 4.095px;
	top: 19.713px;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.02px;
}
#Heart_A19_Path_5 {
	fill: rgba(255,255,255,1);
}
.Heart_A19_Path_5 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 27px;
	left: 179.834px;
	width: 24px;
	height: 20px;
}
#Line_10_A19_Line_4 {
	fill: transparent;
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_10_A19_Line_4 {
	overflow: visible;
	position: absolute;
	top: 147.759px;
	left: 9.5px;
	width: 210px;
	height: 1px;
}
#Product_A19_SymbolInstance_5 {
	position: absolute;
	width: 232.834px;
	height: 223.259px;
	left: 218px;
	top: 676.741px;
	overflow: visible;
}
#BG_A19_Rectangle_11 {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	fill: rgba(255,255,255,1);
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BG_A19_Rectangle_11 {
	position: absolute;
	overflow: visible;
	width: 228.834px;
	height: 223.259px;
	left: 9px;
	top: 7px;
}
#product_detail_A19_Group_9 {
	position: absolute;
	width: 179.929px;
	height: 30.713px;
	left: 23.905px;
	top: 161.259px;
	overflow: visible;
}
#Service_name_A19_Text_17 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#btn_buy_A19_Group_10 {
	position: absolute;
	width: 66.712px;
	height: 25.863px;
	left: 113.217px;
	top: 3.713px;
	overflow: visible;
}
#Rectangle_166_A19_Rectangle_12 {
	fill: rgba(255,52,52,1);
}
.Rectangle_166_A19_Rectangle_12 {
	position: absolute;
	overflow: visible;
	width: 66.712px;
	height: 25.863px;
	left: 0px;
	top: 0px;
}
#View_A19_Text_18 {
	position: absolute;
	left: 24.604px;
	top: 7.5px;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.02px;
}
#Service_type_A19_Text_19 {
	position: absolute;
	left: 4.095px;
	top: 19.713px;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.02px;
}
#Heart_A19_Path_6 {
	fill: rgba(255,255,255,1);
}
.Heart_A19_Path_6 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 27px;
	left: 179.834px;
	width: 24px;
	height: 20px;
}
#Line_10_A19_Line_5 {
	fill: transparent;
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_10_A19_Line_5 {
	overflow: visible;
	position: absolute;
	top: 147.759px;
	left: 9.5px;
	width: 210px;
	height: 1px;
}
#Product_A19_SymbolInstance_6 {
	position: absolute;
	width: 232.834px;
	height: 223.259px;
	left: 484px;
	top: 676.741px;
	overflow: visible;
}
#BG_A19_Rectangle_13 {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	fill: rgba(255,255,255,1);
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BG_A19_Rectangle_13 {
	position: absolute;
	overflow: visible;
	width: 228.834px;
	height: 223.259px;
	left: 9px;
	top: 7px;
}
#product_detail_A19_Group_11 {
	position: absolute;
	width: 179.929px;
	height: 30.713px;
	left: 23.905px;
	top: 161.259px;
	overflow: visible;
}
#Service_name_A19_Text_20 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#btn_buy_A19_Group_12 {
	position: absolute;
	width: 66.712px;
	height: 25.863px;
	left: 113.217px;
	top: 3.713px;
	overflow: visible;
}
#Rectangle_166_A19_Rectangle_14 {
	fill: rgba(255,52,52,1);
}
.Rectangle_166_A19_Rectangle_14 {
	position: absolute;
	overflow: visible;
	width: 66.712px;
	height: 25.863px;
	left: 0px;
	top: 0px;
}
#View_A19_Text_21 {
	position: absolute;
	left: 24.604px;
	top: 7.5px;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.02px;
}
#Service_type_A19_Text_22 {
	position: absolute;
	left: 4.095px;
	top: 19.713px;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.02px;
}
#Heart_A19_Path_7 {
	fill: rgba(255,255,255,1);
}
.Heart_A19_Path_7 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 27px;
	left: 179.834px;
	width: 24px;
	height: 20px;
}
#Line_10_A19_Line_6 {
	fill: transparent;
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_10_A19_Line_6 {
	overflow: visible;
	position: absolute;
	top: 147.759px;
	left: 9.5px;
	width: 210px;
	height: 1px;
}
#Product_A19_SymbolInstance_7 {
	position: absolute;
	width: 232.834px;
	height: 223.259px;
	left: 750px;
	top: 676.741px;
	overflow: visible;
}
#BG_A19_Rectangle_15 {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	fill: rgba(255,255,255,1);
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BG_A19_Rectangle_15 {
	position: absolute;
	overflow: visible;
	width: 228.834px;
	height: 223.259px;
	left: 9px;
	top: 7px;
}
#product_detail_A19_Group_13 {
	position: absolute;
	width: 179.929px;
	height: 30.713px;
	left: 23.905px;
	top: 161.259px;
	overflow: visible;
}
#Service_name_A19_Text_23 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#btn_buy_A19_Group_14 {
	position: absolute;
	width: 66.712px;
	height: 25.863px;
	left: 113.217px;
	top: 3.713px;
	overflow: visible;
}
#Rectangle_166_A19_Rectangle_16 {
	fill: rgba(255,52,52,1);
}
.Rectangle_166_A19_Rectangle_16 {
	position: absolute;
	overflow: visible;
	width: 66.712px;
	height: 25.863px;
	left: 0px;
	top: 0px;
}
#View_A19_Text_24 {
	position: absolute;
	left: 24.604px;
	top: 7.5px;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.02px;
}
#Service_type_A19_Text_25 {
	position: absolute;
	left: 4.095px;
	top: 19.713px;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.02px;
}
#Heart_A19_Path_8 {
	fill: rgba(255,255,255,1);
}
.Heart_A19_Path_8 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 27px;
	left: 179.834px;
	width: 24px;
	height: 20px;
}
#Line_10_A19_Line_7 {
	fill: transparent;
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_10_A19_Line_7 {
	overflow: visible;
	position: absolute;
	top: 147.759px;
	left: 9.5px;
	width: 210px;
	height: 1px;
}
#Product_A19_SymbolInstance_8 {
	position: absolute;
	width: 232.834px;
	height: 223.259px;
	left: 1016px;
	top: 676.741px;
	overflow: visible;
}
#BG_A19_Rectangle_17 {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	fill: rgba(255,255,255,1);
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BG_A19_Rectangle_17 {
	position: absolute;
	overflow: visible;
	width: 228.834px;
	height: 223.259px;
	left: 9px;
	top: 7px;
}
#product_detail_A19_Group_15 {
	position: absolute;
	width: 179.929px;
	height: 30.713px;
	left: 23.905px;
	top: 161.259px;
	overflow: visible;
}
#Service_name_A19_Text_26 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#btn_buy_A19_Group_16 {
	position: absolute;
	width: 66.712px;
	height: 25.863px;
	left: 113.217px;
	top: 3.713px;
	overflow: visible;
}
#Rectangle_166_A19_Rectangle_18 {
	fill: rgba(255,52,52,1);
}
.Rectangle_166_A19_Rectangle_18 {
	position: absolute;
	overflow: visible;
	width: 66.712px;
	height: 25.863px;
	left: 0px;
	top: 0px;
}
#View_A19_Text_27 {
	position: absolute;
	left: 24.604px;
	top: 7.5px;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.02px;
}
#Service_type_A19_Text_28 {
	position: absolute;
	left: 4.095px;
	top: 19.713px;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.02px;
}
#Heart_A19_Path_9 {
	fill: rgba(255,255,255,1);
}
.Heart_A19_Path_9 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 27px;
	left: 179.834px;
	width: 24px;
	height: 20px;
}
#Line_10_A19_Line_8 {
	fill: transparent;
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_10_A19_Line_8 {
	overflow: visible;
	position: absolute;
	top: 147.759px;
	left: 9.5px;
	width: 210px;
	height: 1px;
}
#Product_A19_SymbolInstance_9 {
	position: absolute;
	width: 232.834px;
	height: 223.259px;
	left: 218px;
	top: 934.741px;
	overflow: visible;
}
#BG_A19_Rectangle_19 {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	fill: rgba(255,255,255,1);
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BG_A19_Rectangle_19 {
	position: absolute;
	overflow: visible;
	width: 228.834px;
	height: 223.259px;
	left: 9px;
	top: 7px;
}
#product_detail_A19_Group_17 {
	position: absolute;
	width: 179.929px;
	height: 30.713px;
	left: 23.905px;
	top: 161.259px;
	overflow: visible;
}
#Service_name_A19_Text_29 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#btn_buy_A19_Group_18 {
	position: absolute;
	width: 66.712px;
	height: 25.863px;
	left: 113.217px;
	top: 3.713px;
	overflow: visible;
}
#Rectangle_166_A19_Rectangle_20 {
	fill: rgba(255,52,52,1);
}
.Rectangle_166_A19_Rectangle_20 {
	position: absolute;
	overflow: visible;
	width: 66.712px;
	height: 25.863px;
	left: 0px;
	top: 0px;
}
#View_A19_Text_30 {
	position: absolute;
	left: 24.604px;
	top: 7.5px;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.02px;
}
#Service_type_A19_Text_31 {
	position: absolute;
	left: 4.095px;
	top: 19.713px;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.02px;
}
#Heart_A19_Path_10 {
	fill: rgba(255,255,255,1);
}
.Heart_A19_Path_10 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 27px;
	left: 179.834px;
	width: 24px;
	height: 20px;
}
#Line_10_A19_Line_9 {
	fill: transparent;
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_10_A19_Line_9 {
	overflow: visible;
	position: absolute;
	top: 147.759px;
	left: 9.5px;
	width: 210px;
	height: 1px;
}
#Product_A19_SymbolInstance_10 {
	position: absolute;
	width: 232.834px;
	height: 223.259px;
	left: 484px;
	top: 934.741px;
	overflow: visible;
}
#BG_A19_Rectangle_21 {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	fill: rgba(255,255,255,1);
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BG_A19_Rectangle_21 {
	position: absolute;
	overflow: visible;
	width: 228.834px;
	height: 223.259px;
	left: 9px;
	top: 7px;
}
#product_detail_A19_Group_19 {
	position: absolute;
	width: 179.929px;
	height: 30.713px;
	left: 23.905px;
	top: 161.259px;
	overflow: visible;
}
#Service_name_A19_Text_32 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#btn_buy_A19_Group_20 {
	position: absolute;
	width: 66.712px;
	height: 25.863px;
	left: 113.217px;
	top: 3.713px;
	overflow: visible;
}
#Rectangle_166_A19_Rectangle_22 {
	fill: rgba(255,52,52,1);
}
.Rectangle_166_A19_Rectangle_22 {
	position: absolute;
	overflow: visible;
	width: 66.712px;
	height: 25.863px;
	left: 0px;
	top: 0px;
}
#View_A19_Text_33 {
	position: absolute;
	left: 24.604px;
	top: 7.5px;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.02px;
}
#Service_type_A19_Text_34 {
	position: absolute;
	left: 4.095px;
	top: 19.713px;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.02px;
}
#Heart_A19_Path_11 {
	fill: rgba(255,255,255,1);
}
.Heart_A19_Path_11 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 27px;
	left: 179.834px;
	width: 24px;
	height: 20px;
}
#Line_10_A19_Line_10 {
	fill: transparent;
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_10_A19_Line_10 {
	overflow: visible;
	position: absolute;
	top: 147.759px;
	left: 9.5px;
	width: 210px;
	height: 1px;
}
#Product_A19_SymbolInstance_11 {
	position: absolute;
	width: 232.834px;
	height: 223.259px;
	left: 750px;
	top: 934.741px;
	overflow: visible;
}
#BG_A19_Rectangle_23 {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	fill: rgba(255,255,255,1);
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BG_A19_Rectangle_23 {
	position: absolute;
	overflow: visible;
	width: 228.834px;
	height: 223.259px;
	left: 9px;
	top: 7px;
}
#product_detail_A19_Group_21 {
	position: absolute;
	width: 179.929px;
	height: 30.713px;
	left: 23.905px;
	top: 161.259px;
	overflow: visible;
}
#Service_name_A19_Text_35 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#btn_buy_A19_Group_22 {
	position: absolute;
	width: 66.712px;
	height: 25.863px;
	left: 113.217px;
	top: 3.713px;
	overflow: visible;
}
#Rectangle_166_A19_Rectangle_24 {
	fill: rgba(255,52,52,1);
}
.Rectangle_166_A19_Rectangle_24 {
	position: absolute;
	overflow: visible;
	width: 66.712px;
	height: 25.863px;
	left: 0px;
	top: 0px;
}
#View_A19_Text_36 {
	position: absolute;
	left: 24.604px;
	top: 7.5px;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.02px;
}
#Service_type_A19_Text_37 {
	position: absolute;
	left: 4.095px;
	top: 19.713px;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.02px;
}
#Heart_A19_Path_12 {
	fill: rgba(255,255,255,1);
}
.Heart_A19_Path_12 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 27px;
	left: 179.834px;
	width: 24px;
	height: 20px;
}
#Line_10_A19_Line_11 {
	fill: transparent;
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_10_A19_Line_11 {
	overflow: visible;
	position: absolute;
	top: 147.759px;
	left: 9.5px;
	width: 210px;
	height: 1px;
}
#Product_A19_SymbolInstance_12 {
	position: absolute;
	width: 232.834px;
	height: 223.259px;
	left: 1016px;
	top: 934.741px;
	overflow: visible;
}
#BG_A19_Rectangle_25 {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	fill: rgba(255,255,255,1);
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BG_A19_Rectangle_25 {
	position: absolute;
	overflow: visible;
	width: 228.834px;
	height: 223.259px;
	left: 9px;
	top: 7px;
}
#product_detail_A19_Group_23 {
	position: absolute;
	width: 179.929px;
	height: 30.713px;
	left: 23.905px;
	top: 161.259px;
	overflow: visible;
}
#Service_name_A19_Text_38 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#btn_buy_A19_Group_24 {
	position: absolute;
	width: 66.712px;
	height: 25.863px;
	left: 113.217px;
	top: 3.713px;
	overflow: visible;
}
#Rectangle_166_A19_Rectangle_26 {
	fill: rgba(255,52,52,1);
}
.Rectangle_166_A19_Rectangle_26 {
	position: absolute;
	overflow: visible;
	width: 66.712px;
	height: 25.863px;
	left: 0px;
	top: 0px;
}
#View_A19_Text_39 {
	position: absolute;
	left: 24.604px;
	top: 7.5px;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.02px;
}
#Service_type_A19_Text_40 {
	position: absolute;
	left: 4.095px;
	top: 19.713px;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.02px;
}
#Heart_A19_Path_13 {
	fill: rgba(255,255,255,1);
}
.Heart_A19_Path_13 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 27px;
	left: 179.834px;
	width: 24px;
	height: 20px;
}
#Line_10_A19_Line_12 {
	fill: transparent;
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_10_A19_Line_12 {
	overflow: visible;
	position: absolute;
	top: 147.759px;
	left: 9.5px;
	width: 210px;
	height: 1px;
}
#Logout {
	position: absolute;
	left: 1331px;
	top: 26px;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Shop_____Dashboard_____Profile {
	position: absolute;
	left: 606px;
	top: 26px;
	overflow: visible;
	width: 309px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Rectangle_750 {
	fill: rgba(243,243,243,1);
	stroke: rgb(243, 243, 243);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_750 {
	position: absolute;
	overflow: visible;
	width: 860px;
	height: 55px;
	left: 330px;
	top: 247.608px;
}
#Search {
	position: absolute;
	left: 433.5px;
	top: 260.5px;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(0,0,0,1);
}
#Ellipse_45 {
	fill: rgba(255,255,255,1);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_45 {
	position: absolute;
	overflow: visible;
	width: 29px;
	height: 27px;
	left: 346px;
	top: 256px;
}
#Line_9 {
	fill: transparent;
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_9 {
	overflow: visible;
	position: absolute;
	top: 280.5px;
	left: 368.5px;
	width: 7.79px;
	height: 9.613px;
}