body {
	margin: 0;
	padding: 0;
}
:root {
	--web-view-ids: Pitch_Company_Page___1;
}
#Pitch_Company_Page___1 * {
	margin: 0;
	padding: 0;
}
#Pitch_Company_Page___1 {
	position: absolute;
	box-sizing: border-box;
	background: #E5E5E5;
	width: 1519px;
	height: 2152px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	margin: 0;
	padding: 0;
	--web-view-name: Pitch Company Page – 1;
	--web-view-id: Pitch_Company_Page___1;
	--web-navigate-on-keypress: true;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
}
#Path_2 {
	fill: rgba(0,0,0,1);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_2 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 114px;
	left: 44.457px;
	width: 589.679px;
	height: 251.979px;
}
#Product {
	position: absolute;
	width: 236px;
	height: 20px;
	left: 665.594px;
	top: 180px;
	overflow: visible;
}
#ID4_1_____500_Reviews {
	opacity: 0.704;
	position: absolute;
	left: 110px;
	top: 0px;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -4.5px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#Group_251 {
	position: absolute;
	width: 96px;
	height: 19px;
	left: 0px;
	top: 1px;
	overflow: visible;
}
#Path_332 {
	fill: rgba(255,0,0,1);
}
.Path_332 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 14.78px;
	height: 19px;
}
#Path_333 {
	fill: rgba(255,0,0,1);
}
.Path_333 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 20.305px;
	width: 14.78px;
	height: 19px;
}
#Path_334 {
	fill: rgba(255,0,0,1);
}
.Path_334 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 40.61px;
	width: 14.78px;
	height: 19px;
}
#Path_335 {
	fill: rgba(255,0,0,1);
}
.Path_335 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 60.915px;
	width: 14.78px;
	height: 19px;
}
#Path_336 {
	fill: rgba(173,173,173,1);
}
.Path_336 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 81.22px;
	width: 14.78px;
	height: 19px;
}
#Path_356 {
	fill: rgba(255,52,52,1);
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_356 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 318px;
	left: 660.9px;
	width: 371.099px;
	height: 47px;
}
#Path_345 {
	fill: rgba(0,0,0,0);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_345 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 397.17px;
	left: 117.529px;
	width: 1284.651px;
	height: 1px;
}
#_1__Communication__ {
	position: absolute;
	left: 1286px;
	top: 128px;
	overflow: visible;
	width: 147px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(27,16,16,1);
}
#_6__Overall___ {
	position: absolute;
	left: 1324px;
	top: 209px;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(27,16,16,1);
}
#Follow {
	position: absolute;
	left: 823px;
	top: 326px;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(242,233,233,1);
}
#Intro {
	position: absolute;
	left: 69.5px;
	top: 428.5px;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(0,0,0,1);
}
#This_is_where_the_company_desc {
	position: absolute;
	left: 70px;
	top: 532px;
	overflow: visible;
	width: 550px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,0,0,1);
}
#Video_Player {
	position: absolute;
	width: 623.137px;
	height: 382.79px;
	left: 804.863px;
	top: 411px;
	overflow: visible;
}
#BG {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	fill: rgba(255,255,255,1);
}
.BG {
	position: absolute;
	overflow: visible;
	width: 641.137px;
	height: 400.79px;
	left: 0px;
	top: 0px;
}
#Video {
	position: absolute;
	width: 585.137px;
	height: 322.79px;
	left: 19px;
	top: 30px;
	overflow: visible;
}
#Rectangle_744 {
	fill: rgba(67,66,93,1);
}
.Rectangle_744 {
	position: absolute;
	overflow: visible;
	width: 585.137px;
	height: 322.79px;
	left: 0px;
	top: 0px;
}
#player_tab {
	position: absolute;
	width: 585.137px;
	height: 60px;
	left: 0px;
	top: 262.79px;
	overflow: visible;
}
#Rectangle_745 {
	opacity: 0.2;
	fill: rgba(67,66,93,1);
}
.Rectangle_745 {
	position: absolute;
	overflow: visible;
	width: 585.137px;
	height: 60px;
	left: 0px;
	top: 0px;
}
#play {
	fill: rgba(255,255,255,1);
}
.play {
	transform: rotate(45deg);
	overflow: visible;
	position: absolute;
	top: 14px;
	left: 15.645px;
	width: 32.393px;
	height: 32.394px;
}
#timer {
	position: absolute;
	width: 585.107px;
	height: 0px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_342 {
	opacity: 0.2;
	fill: transparent;
	stroke: rgb(255, 255, 255);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_342 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 585.107px;
	height: 5px;
}
#Path_343 {
	fill: transparent;
	stroke: rgb(59, 134, 255);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_343 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 168.933px;
	height: 5px;
}
#ID0_00___3_45 {
	position: absolute;
	left: 112.769px;
	top: 18px;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#sound {
	fill: rgba(255,255,255,1);
}
.sound {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 19px;
	left: 458.409px;
	width: 24px;
	height: 22.2px;
}
#fullscreen {
	position: absolute;
	width: 19.989px;
	height: 21.846px;
	left: 528.993px;
	top: 19px;
	overflow: visible;
}
#Path_338 {
	fill: transparent;
	stroke: rgb(255, 255, 255);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_338 {
	transform: rotate(-90deg);
	overflow: visible;
	position: absolute;
	top: 15.144px;
	left: 0px;
	width: 7.989px;
	height: 7.702px;
}
#Path_341 {
	fill: transparent;
	stroke: rgb(255, 255, 255);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_341 {
	transform: rotate(90deg);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 13px;
	width: 7.989px;
	height: 7.702px;
}
#Path_339 {
	fill: transparent;
	stroke: rgb(255, 255, 255);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_339 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0.144px;
	width: 7.702px;
	height: 7.989px;
}
#Path_340 {
	fill: transparent;
	stroke: rgb(255, 255, 255);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_340 {
	transform: rotate(180deg);
	overflow: visible;
	position: absolute;
	top: 14.856px;
	left: 13.144px;
	width: 7.702px;
	height: 7.989px;
}
#btn_play {
	position: absolute;
	width: 117px;
	height: 117px;
	left: 234.632px;
	top: 93.541px;
	overflow: visible;
}
#Ellipse_39 {
	opacity: 0.209;
	fill: rgba(255,255,255,1);
}
.Ellipse_39 {
	position: absolute;
	overflow: visible;
	width: 117px;
	height: 117px;
	left: 0px;
	top: 0px;
}
#Path_337 {
	fill: rgba(255,255,255,1);
}
.Path_337 {
	transform: rotate(45deg);
	overflow: visible;
	position: absolute;
	top: 24.266px;
	left: 18.053px;
	width: 67.533px;
	height: 67.533px;
}
#Path_353 {
	fill: rgba(243,243,243,1);
	stroke: rgb(243, 243, 243);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_353 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 1310px;
	left: 153.779px;
	width: 539.934px;
	height: 302.578px;
}
#_My_experience_with_this_softw {
	position: absolute;
	left: 184px;
	top: 1511px;
	overflow: visible;
	width: 481px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
#Ellipse_43 {
	fill: url(#Ellipse_43_A16_Ellipse_3_pattern);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_43 {
	position: absolute;
	overflow: visible;
	width: 91px;
	height: 86px;
	left: 184px;
	top: 1329px;
}
#Pros__________________________ {
	position: absolute;
	left: 229.619px;
	top: 1415px;
	overflow: visible;
	width: 263px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(0,0,0,1);
	text-decoration: true;
}
#Cons________________________Ex {
	position: absolute;
	left: 480.372px;
	top: 1415px;
	overflow: visible;
	width: 151px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(0,0,0,1);
	text-decoration: true;
}
#Amazing_Application__ {
	position: absolute;
	left: 292px;
	top: 1329px;
	overflow: visible;
	width: 312px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#Group_253 {
	position: absolute;
	width: 83.818px;
	height: 16px;
	left: 292px;
	top: 1371px;
	overflow: visible;
}
#Path_332_A16_Path_19 {
	fill: rgba(255,0,0,1);
}
.Path_332_A16_Path_19 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 14.78px;
	height: 16px;
}
#Path_333_A16_Path_20 {
	fill: rgba(255,0,0,1);
}
.Path_333_A16_Path_20 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 17.26px;
	width: 14.78px;
	height: 16px;
}
#Path_334_A16_Path_21 {
	fill: rgba(255,0,0,1);
}
.Path_334_A16_Path_21 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 34.519px;
	width: 14.78px;
	height: 16px;
}
#Path_335_A16_Path_22 {
	fill: rgba(255,0,0,1);
}
.Path_335_A16_Path_22 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 51.779px;
	width: 14.78px;
	height: 16px;
}
#Path_336_A16_Path_23 {
	fill: rgba(173,173,173,1);
}
.Path_336_A16_Path_23 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 69.038px;
	width: 14.78px;
	height: 16px;
}
#By__Mark_Johnson__CEO_of_Lance {
	position: absolute;
	left: 392.843px;
	top: 1372px;
	overflow: visible;
	width: 239px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(0,0,0,1);
}
#You_May_Also_Like {
	position: absolute;
	left: 70.5px;
	top: 1708px;
	overflow: visible;
	width: 293px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 38px;
	color: rgba(0,0,0,1);
}
#See_More {
	position: absolute;
	left: 1313px;
	top: 1732px;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(0,0,0,1);
	text-decoration: true;
}
#LanceCorp__Inc {
	position: absolute;
	left: 661px;
	top: 114px;
	overflow: visible;
	width: 359px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 55px;
	color: rgba(8,8,8,1);
}
#Products {
	position: absolute;
	left: 68.5px;
	top: 863.5px;
	overflow: visible;
	width: 159px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#Services {
	position: absolute;
	left: 807.05px;
	top: 857.5px;
	overflow: visible;
	width: 148px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#ID150_Followers______30_Follow {
	position: absolute;
	left: 665.439px;
	top: 237px;
	overflow: visible;
	width: 259px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Path_344 {
	fill: rgba(255,52,52,1);
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_344 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1519px;
	height: 83.801px;
}
#Pitch_ {
	position: absolute;
	left: 67.5px;
	top: 18.5px;
	overflow: visible;
	width: 96px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 37px;
	color: rgba(255,255,255,1);
}
#Shop_____Search_____Notificati {
	position: absolute;
	left: 473px;
	top: 26px;
	overflow: visible;
	width: 546px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Logout {
	position: absolute;
	left: 1331px;
	top: 26px;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Path_367 {
	fill: rgba(255,52,52,1);
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_367 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 318px;
	left: 1050.9px;
	width: 371.099px;
	height: 47px;
}
#Contact {
	position: absolute;
	left: 1195px;
	top: 326px;
	overflow: visible;
	width: 84px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(242,233,233,1);
}
#Reviews {
	position: absolute;
	left: 70.5px;
	top: 1220.5px;
	overflow: visible;
	width: 183px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(0,0,0,1);
}
#Path_368 {
	fill: rgba(243,243,243,1);
	stroke: rgb(243, 243, 243);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_368 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 1310px;
	left: 824.779px;
	width: 539.934px;
	height: 302.578px;
}
#Path_370 {
	fill: rgba(0,0,0,0);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_370 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 821.17px;
	left: 117.529px;
	width: 1284.651px;
	height: 1px;
}
#Path_371 {
	fill: rgba(0,0,0,0);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_371 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 1189.17px;
	left: 117.529px;
	width: 1284.651px;
	height: 1px;
}
#Path_373 {
	fill: rgba(0,0,0,0);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_373 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 1672.17px;
	left: 117.529px;
	width: 1284.651px;
	height: 1px;
}
#Rectangle_749 {
	fill: rgba(255,52,52,1);
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_749 {
	position: absolute;
	overflow: visible;
	width: 1519px;
	height: 102px;
	left: 0px;
	top: 2049.912px;
}
#Terms_of_Service_____Privacy_P {
	position: absolute;
	left: 34px;
	top: 2078px;
	overflow: visible;
	width: 415px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	color: rgba(255,255,255,1);
}
#Line_11 {
	fill: transparent;
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_11 {
	overflow: visible;
	position: absolute;
	top: 867.5px;
	left: 759.5px;
	width: 1px;
	height: 268px;
}
#See_More_A16_Text_25 {
	position: absolute;
	left: 1313px;
	top: 1251px;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(0,0,0,1);
	text-decoration: true;
}
#See_More_A16_Text_26 {
	position: absolute;
	left: 1349px;
	top: 885px;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(0,0,0,1);
	text-decoration: true;
}
#See_More_A16_Text_27 {
	position: absolute;
	left: 628px;
	top: 885px;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(0,0,0,1);
	text-decoration: true;
}
#Product_A16_SymbolInstance_2 {
	position: absolute;
	width: 232.834px;
	height: 223.259px;
	left: 230px;
	top: 1790.741px;
	overflow: visible;
}
#BG_A16_Rectangle_5 {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	fill: rgba(255,255,255,1);
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BG_A16_Rectangle_5 {
	position: absolute;
	overflow: visible;
	width: 228.834px;
	height: 223.259px;
	left: 9px;
	top: 7px;
}
#product_detail {
	position: absolute;
	width: 179.929px;
	height: 30.713px;
	left: 23.905px;
	top: 161.259px;
	overflow: visible;
}
#Product_name {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#btn_buy {
	position: absolute;
	width: 66.712px;
	height: 25.863px;
	left: 113.217px;
	top: 3.713px;
	overflow: visible;
}
#Rectangle_166 {
	fill: rgba(255,52,52,1);
}
.Rectangle_166 {
	position: absolute;
	overflow: visible;
	width: 66.712px;
	height: 25.863px;
	left: 0px;
	top: 0px;
}
#View {
	position: absolute;
	left: 24.604px;
	top: 7.5px;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.02px;
}
#Product_type {
	position: absolute;
	left: 3.095px;
	top: 19.713px;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.02px;
}
#Heart {
	fill: rgba(255,255,255,1);
}
.Heart {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 27px;
	left: 179.834px;
	width: 24px;
	height: 20px;
}
#Line_10 {
	fill: transparent;
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_10 {
	overflow: visible;
	position: absolute;
	top: 147.759px;
	left: 9.5px;
	width: 210px;
	height: 1px;
}
#Product_A16_SymbolInstance_3 {
	position: absolute;
	width: 232.834px;
	height: 223.259px;
	left: 159px;
	top: 929.741px;
	overflow: visible;
}
#BG_A16_Rectangle_7 {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	fill: rgba(255,255,255,1);
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BG_A16_Rectangle_7 {
	position: absolute;
	overflow: visible;
	width: 228.834px;
	height: 223.259px;
	left: 9px;
	top: 7px;
}
#product_detail_A16_Group_11 {
	position: absolute;
	width: 179.929px;
	height: 30.713px;
	left: 23.905px;
	top: 161.259px;
	overflow: visible;
}
#Product_name_A16_Text_31 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#btn_buy_A16_Group_12 {
	position: absolute;
	width: 66.712px;
	height: 25.863px;
	left: 113.217px;
	top: 3.713px;
	overflow: visible;
}
#Rectangle_166_A16_Rectangle_8 {
	fill: rgba(255,52,52,1);
}
.Rectangle_166_A16_Rectangle_8 {
	position: absolute;
	overflow: visible;
	width: 66.712px;
	height: 25.863px;
	left: 0px;
	top: 0px;
}
#View_A16_Text_32 {
	position: absolute;
	left: 24.604px;
	top: 7.5px;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.02px;
}
#Product_type_A16_Text_33 {
	position: absolute;
	left: 3.095px;
	top: 19.713px;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.02px;
}
#Heart_A16_Path_31 {
	fill: rgba(255,255,255,1);
}
.Heart_A16_Path_31 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 27px;
	left: 179.834px;
	width: 24px;
	height: 20px;
}
#Line_10_A16_Line_3 {
	fill: transparent;
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_10_A16_Line_3 {
	overflow: visible;
	position: absolute;
	top: 147.759px;
	left: 9.5px;
	width: 210px;
	height: 1px;
}
#Product_A16_SymbolInstance_4 {
	position: absolute;
	width: 232.834px;
	height: 223.259px;
	left: 410px;
	top: 929.741px;
	overflow: visible;
}
#BG_A16_Rectangle_9 {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	fill: rgba(255,255,255,1);
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BG_A16_Rectangle_9 {
	position: absolute;
	overflow: visible;
	width: 228.834px;
	height: 223.259px;
	left: 9px;
	top: 7px;
}
#product_detail_A16_Group_13 {
	position: absolute;
	width: 179.929px;
	height: 30.713px;
	left: 23.905px;
	top: 161.259px;
	overflow: visible;
}
#Product_name_A16_Text_34 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#btn_buy_A16_Group_14 {
	position: absolute;
	width: 66.712px;
	height: 25.863px;
	left: 113.217px;
	top: 3.713px;
	overflow: visible;
}
#Rectangle_166_A16_Rectangle_10 {
	fill: rgba(255,52,52,1);
}
.Rectangle_166_A16_Rectangle_10 {
	position: absolute;
	overflow: visible;
	width: 66.712px;
	height: 25.863px;
	left: 0px;
	top: 0px;
}
#View_A16_Text_35 {
	position: absolute;
	left: 24.604px;
	top: 7.5px;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.02px;
}
#Product_type_A16_Text_36 {
	position: absolute;
	left: 3.095px;
	top: 19.713px;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.02px;
}
#Heart_A16_Path_32 {
	fill: rgba(255,255,255,1);
}
.Heart_A16_Path_32 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 27px;
	left: 179.834px;
	width: 24px;
	height: 20px;
}
#Line_10_A16_Line_4 {
	fill: transparent;
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_10_A16_Line_4 {
	overflow: visible;
	position: absolute;
	top: 147.759px;
	left: 9.5px;
	width: 210px;
	height: 1px;
}
#Product_A16_SymbolInstance_5 {
	position: absolute;
	width: 232.834px;
	height: 223.259px;
	left: 501px;
	top: 1790.741px;
	overflow: visible;
}
#BG_A16_Rectangle_11 {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	fill: rgba(255,255,255,1);
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BG_A16_Rectangle_11 {
	position: absolute;
	overflow: visible;
	width: 228.834px;
	height: 223.259px;
	left: 9px;
	top: 7px;
}
#product_detail_A16_Group_15 {
	position: absolute;
	width: 179.929px;
	height: 30.713px;
	left: 23.905px;
	top: 161.259px;
	overflow: visible;
}
#Product_name_A16_Text_37 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#btn_buy_A16_Group_16 {
	position: absolute;
	width: 66.712px;
	height: 25.863px;
	left: 113.217px;
	top: 3.713px;
	overflow: visible;
}
#Rectangle_166_A16_Rectangle_12 {
	fill: rgba(255,52,52,1);
}
.Rectangle_166_A16_Rectangle_12 {
	position: absolute;
	overflow: visible;
	width: 66.712px;
	height: 25.863px;
	left: 0px;
	top: 0px;
}
#View_A16_Text_38 {
	position: absolute;
	left: 24.604px;
	top: 7.5px;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.02px;
}
#Product_type_A16_Text_39 {
	position: absolute;
	left: 3.095px;
	top: 19.713px;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.02px;
}
#Heart_A16_Path_33 {
	fill: rgba(255,255,255,1);
}
.Heart_A16_Path_33 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 27px;
	left: 179.834px;
	width: 24px;
	height: 20px;
}
#Line_10_A16_Line_5 {
	fill: transparent;
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_10_A16_Line_5 {
	overflow: visible;
	position: absolute;
	top: 147.759px;
	left: 9.5px;
	width: 210px;
	height: 1px;
}
#Product_A16_SymbolInstance_6 {
	position: absolute;
	width: 232.834px;
	height: 223.259px;
	left: 772px;
	top: 1790.741px;
	overflow: visible;
}
#BG_A16_Rectangle_13 {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	fill: rgba(255,255,255,1);
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BG_A16_Rectangle_13 {
	position: absolute;
	overflow: visible;
	width: 228.834px;
	height: 223.259px;
	left: 9px;
	top: 7px;
}
#product_detail_A16_Group_17 {
	position: absolute;
	width: 179.929px;
	height: 30.713px;
	left: 23.905px;
	top: 161.259px;
	overflow: visible;
}
#Product_name_A16_Text_40 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#btn_buy_A16_Group_18 {
	position: absolute;
	width: 66.712px;
	height: 25.863px;
	left: 113.217px;
	top: 3.713px;
	overflow: visible;
}
#Rectangle_166_A16_Rectangle_14 {
	fill: rgba(255,52,52,1);
}
.Rectangle_166_A16_Rectangle_14 {
	position: absolute;
	overflow: visible;
	width: 66.712px;
	height: 25.863px;
	left: 0px;
	top: 0px;
}
#View_A16_Text_41 {
	position: absolute;
	left: 24.604px;
	top: 7.5px;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.02px;
}
#Product_type_A16_Text_42 {
	position: absolute;
	left: 3.095px;
	top: 19.713px;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.02px;
}
#Heart_A16_Path_34 {
	fill: rgba(255,255,255,1);
}
.Heart_A16_Path_34 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 27px;
	left: 179.834px;
	width: 24px;
	height: 20px;
}
#Line_10_A16_Line_6 {
	fill: transparent;
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_10_A16_Line_6 {
	overflow: visible;
	position: absolute;
	top: 147.759px;
	left: 9.5px;
	width: 210px;
	height: 1px;
}
#Product_A16_SymbolInstance_7 {
	position: absolute;
	width: 232.834px;
	height: 223.259px;
	left: 1043px;
	top: 1790.741px;
	overflow: visible;
}
#BG_A16_Rectangle_15 {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	fill: rgba(255,255,255,1);
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BG_A16_Rectangle_15 {
	position: absolute;
	overflow: visible;
	width: 228.834px;
	height: 223.259px;
	left: 9px;
	top: 7px;
}
#product_detail_A16_Group_19 {
	position: absolute;
	width: 179.929px;
	height: 30.713px;
	left: 23.905px;
	top: 161.259px;
	overflow: visible;
}
#Product_name_A16_Text_43 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#btn_buy_A16_Group_20 {
	position: absolute;
	width: 66.712px;
	height: 25.863px;
	left: 113.217px;
	top: 3.713px;
	overflow: visible;
}
#Rectangle_166_A16_Rectangle_16 {
	fill: rgba(255,52,52,1);
}
.Rectangle_166_A16_Rectangle_16 {
	position: absolute;
	overflow: visible;
	width: 66.712px;
	height: 25.863px;
	left: 0px;
	top: 0px;
}
#View_A16_Text_44 {
	position: absolute;
	left: 24.604px;
	top: 7.5px;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.02px;
}
#Product_type_A16_Text_45 {
	position: absolute;
	left: 3.095px;
	top: 19.713px;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.02px;
}
#Heart_A16_Path_35 {
	fill: rgba(255,255,255,1);
}
.Heart_A16_Path_35 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 27px;
	left: 179.834px;
	width: 24px;
	height: 20px;
}
#Line_10_A16_Line_7 {
	fill: transparent;
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_10_A16_Line_7 {
	overflow: visible;
	position: absolute;
	top: 147.759px;
	left: 9.5px;
	width: 210px;
	height: 1px;
}
#Product_A16_SymbolInstance_8 {
	position: absolute;
	width: 232.834px;
	height: 223.259px;
	left: 876px;
	top: 929.741px;
	overflow: visible;
}
#BG_A16_Rectangle_17 {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	fill: rgba(255,255,255,1);
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BG_A16_Rectangle_17 {
	position: absolute;
	overflow: visible;
	width: 228.834px;
	height: 223.259px;
	left: 9px;
	top: 7px;
}
#product_detail_A16_Group_21 {
	position: absolute;
	width: 179.929px;
	height: 30.713px;
	left: 23.905px;
	top: 161.259px;
	overflow: visible;
}
#Service_name {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#btn_buy_A16_Group_22 {
	position: absolute;
	width: 66.712px;
	height: 25.863px;
	left: 113.217px;
	top: 3.713px;
	overflow: visible;
}
#Rectangle_166_A16_Rectangle_18 {
	fill: rgba(255,52,52,1);
}
.Rectangle_166_A16_Rectangle_18 {
	position: absolute;
	overflow: visible;
	width: 66.712px;
	height: 25.863px;
	left: 0px;
	top: 0px;
}
#View_A16_Text_47 {
	position: absolute;
	left: 24.604px;
	top: 7.5px;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.02px;
}
#Service_type {
	position: absolute;
	left: 4.095px;
	top: 19.713px;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.02px;
}
#Heart_A16_Path_36 {
	fill: rgba(255,255,255,1);
}
.Heart_A16_Path_36 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 27px;
	left: 179.834px;
	width: 24px;
	height: 20px;
}
#Line_10_A16_Line_8 {
	fill: transparent;
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_10_A16_Line_8 {
	overflow: visible;
	position: absolute;
	top: 147.759px;
	left: 9.5px;
	width: 210px;
	height: 1px;
}
#Product_A16_SymbolInstance_9 {
	position: absolute;
	width: 232.834px;
	height: 223.259px;
	left: 1127px;
	top: 929.741px;
	overflow: visible;
}
#BG_A16_Rectangle_19 {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	fill: rgba(255,255,255,1);
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.BG_A16_Rectangle_19 {
	position: absolute;
	overflow: visible;
	width: 228.834px;
	height: 223.259px;
	left: 9px;
	top: 7px;
}
#product_detail_A16_Group_23 {
	position: absolute;
	width: 179.929px;
	height: 30.713px;
	left: 23.905px;
	top: 161.259px;
	overflow: visible;
}
#Service_name_A16_Text_49 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#btn_buy_A16_Group_24 {
	position: absolute;
	width: 66.712px;
	height: 25.863px;
	left: 113.217px;
	top: 3.713px;
	overflow: visible;
}
#Rectangle_166_A16_Rectangle_20 {
	fill: rgba(255,52,52,1);
}
.Rectangle_166_A16_Rectangle_20 {
	position: absolute;
	overflow: visible;
	width: 66.712px;
	height: 25.863px;
	left: 0px;
	top: 0px;
}
#View_A16_Text_50 {
	position: absolute;
	left: 24.604px;
	top: 7.5px;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.02px;
}
#Service_type_A16_Text_51 {
	position: absolute;
	left: 4.095px;
	top: 19.713px;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.02px;
}
#Heart_A16_Path_37 {
	fill: rgba(255,255,255,1);
}
.Heart_A16_Path_37 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 27px;
	left: 179.834px;
	width: 24px;
	height: 20px;
}
#Line_10_A16_Line_9 {
	fill: transparent;
	stroke: rgb(255, 52, 52);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_10_A16_Line_9 {
	overflow: visible;
	position: absolute;
	top: 147.759px;
	left: 9.5px;
	width: 210px;
	height: 1px;
}